.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.findPartnerButton {
  background-color: green !important;
  padding:20px;
  font-size: large;
  font-weight: 600;
  text-align: center;  
}

.custom-card-group {
 justify-content: center;
 margin-top: 50px;
}

.game-card {
  justify-content: center;
  margin-top: 50px;
  color: aqua;
}

.Court {
  background-color: beige;
}
.customStyle {
  font-size: 40px;
  font-weight: bolder;
}